<!-- NOINDEX -->
<!-- NOFOLLOW -->
<aside class="lo-full feedback">

<form class="lo-auron-2-3 feedback-form slide-out-top">
<fieldset>
	<h2>{{title}}</h2>
  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="feedbackFoundCorrectContent" id="feedbackFoundCorrectContent1" value="yes" required="required" checked="checked"> {{labelOption1}}
    </label>
    <label class="radio-inline">
      <input type="radio" name="feedbackFoundCorrectContent" id="feedbackFoundCorrectContent2" value="no"> {{labelOption2}}
    </label>
  </div>
  <div class="form-group">
    <label for="feedbackLookingforContent">{{labelLookingfor}}</label>
    <textarea name="feedbackLookingforContent" class="form-control" maxlength="255" rows="3"></textarea>
  </div>
  <div class="form-group">
  	<input type="hidden" name="clientLangugage" value="{{clientLanguage}}">
  	<input type="hidden" name="clientUrl" value="{{clientUrl}}">
  	<input type="hidden" name="clientBrowserName" value="{{clientBrowserName}}">
  	<input type="hidden" name="clientBrowserVersion" value="{{clientBrowserVersion}}">
  	<input type="hidden" name="clientViewportWidth" value="{{clientViewportWidth}}">
  	<input type="hidden" name="clientViewportHeight" value="{{clientViewportHeight}}">
  	<input type="hidden" name="clientOsName" value="{{clientOsName}}">
  	<input type="hidden" name="clientOsVersion" value="{{clientOsVersion}}">
    <button type="submit" class="btn btn-default">{{labelSubmit}}</button>
  </div>
  </fieldset>
</form>
<div class="lo-auron-2-3 feedback-form-success outline slide-in-bottom" style="display:none;">
	<h2>{{formCompleteTitle}}</h2>
	{{{formCompleteContent}}}
</div>
</aside>
<!-- /NOFOLLOW -->
<!-- /NOINDEX -->
