{{#each posts}}
  <div class="{{ articleLoClass }}">
    <article data-article-id="{{articleId}}" class="article article-entry {{#if articleExternal}}article-external{{/if}}">
      <a href="{{#if articleExternal}}{{articleExternal}}{{else}}{{#if articleDestinationAddress}}{{articleDestinationAddress}}{{/if}}#/articles/{{articleId}}{{/if}}" title="Link til {{ articleTitle }}">
        <div class="picture-container ratio-16-9"><img src="http://hiof.no/neted/services/file/?hash={{articleImage}}" alt="{{articleImageAltText}}" class="picture" /></div>
        <h3>{{ articleTitle }}</h3>
        <p class="lead-paragraph">{{ articleIntro }}</p>
      </a>
    </article>
  </div>
{{/each}}
