
       {{#each posts}}        
            <article data-article-id="{{articleId}}" class="article-single lo-full">  
                <h1>{{ articleTitle }}</h1>
                <p>Publisert den {{articlePublishedDate}} klokken {{articlePublishedTime}} av <a href="http://hiof.no/nor/om-hogskolen/sok-pa-sidene/profil/?&displayitem={{authorId}}&module=admin" title="Se {{authorName}} sin profil">{{authorName}}</a></p>
                <p class="intro">{{ articleIntro }}</p>
                {{{ articleContent }}}
                <p>Sist oppdatert {{articleUpdated}} av <a href="http://hiof.no/nor/om-hogskolen/sok-pa-sidene/profil/?&displayitem={{authorId}}&module=admin" title="Se {{authorName}} sin profil">{{authorName}}</a></p>                
                <h2>Kategorier</h2>
                <ul>
                    {{#each category}}
                        <li><a href="#/articles/category/{{@key}}">{{this}}</a></li>
                    {{/each}}
                </ul>
                <h2>Relaterte artikkler</h2>
 
                    {{#each relatedArticles}}
                        <div class="lo-half">
                            <article data-article-id="{{this.articleId}}" class="article article-entry {{#if articleExternal}}article-external{{/if}}">
                                <a href="#/articles/{{this.articleId}}" title="Link til {{ articleTitle }}">
                                    <img src="http://hiof.no/neted/services/file/?hash={{this.articleImage}}" alt="{{this.articleImageAltText}}" class="picture" />
                                 <h3>{{ this.articleTitle }}</h3>
                                 <p class="lead-paragraph">{{ this.articleIntro }}</p>
                                </a>
                            </article>
                        </div>
                    {{/each}}
            </article>
        {{/each}}


